@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Mono:wght@400;600;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

h1{
    font-size: 50px;
}

section{
    display: flex;
}

.left {
    width: 55%;
    padding: 25px;
}

.left p{
    text-align: justify;
}

.left .orange-color{
    color: orange;
}

.link-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid black;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
